<form>
  <div class="input-box">
    <input #inputEl="ngModel" name="inputEl" type="text" required [(ngModel)]="value"
           placeholder="Waiting for your equation..." class="equation-input"
           pattern="(^\d+)(\d+|\-(?=\d)|\+(?=\d)|\*(?=\d)|\.(?=\d)|\/(?=[1-9]|0\.)+)*(\d$)"/>
    <span class="result"> = {{result | number}}</span>
  </div>
  <button (click)="onCalculateClicked()" class="calculate-button" [disabled]="inputEl.errors?.pattern || inputEl.errors?.required">Calculate</button>
</form>
<p class="info">Supported characters: numbers (including decimal), +, -, *, /, </p>


